.sidebar {
  width: 240px;
  height: 100vh;              /* cao hết màn hình */
  background-color: #212529;  /* màu tối (Bootstrap dark) */
}

.nav-link {
  color: #adb5bd;
}

.nav-link:hover {
  background-color: #343a40;
  color: #fff;
}

.nav-link.active {
  background-color: #0d6efd;
}
